/*
 *Last modified: 2021-07-12 08:48:14
 */
/*LESS函数和变量*/
/*主要字体*/
/*win8和win10中的高清字体*/
/*主色*/
/*主色浅边框*/
/*主色背景*/
/*简介色*/
/*深色*/
/*主色相似色*/
/*次色*/
/*次色浅边框*/
/*次色背景*/
/*简介色*/
/*深色*/
/*次色相似色*/
/*成功色（绿色）*/
/*成功色浅边框*/
/*成功色背景*/
/*简介色*/
/*深色*/
/*成功相似色*/
/*危险色（红色）*/
/*危险色浅边框*/
/*危险色背景*/
/*简介色*/
/*深色*/
/*危险相似色*/
/*警告色（黄色）*/
/*警告色浅边框*/
/*警告色背景*/
/*简介色*/
/*深色*/
/*警告相似色*/
/*广告色（橙色)*/
/*广告色浅边框*/
/*广告色背景*/
/*简介色*/
/*深色*/
/*广告相似色*/
/*提示色（青色）*/
/*提示色浅边框*/
/*提示色背景*/
/*简介色*/
/*深色*/
/*提示相似色*/
/*标题颜色70%*/
/*深色*/
/*标题相似色*/
/*正文颜色70%*/
/*正文描述颜色40%*/
/*忽略背景色94%*/
/*忽略文字色70%*/
/*禁止背景色94%*/
/*禁止文字色70%*/
/*忽略图标70%*/
/*主体背景色#fff*/
/*常规按钮背景色98%*/
/*常规按钮边框颜色88%（伪类）*/
/*常规按钮移动端边框颜色92%（伪类）*/
/*常规区块边框颜色*/
/*INPUT边框颜色88%*/
/*窗口标题背景色96%*/
/*鼠标经过变化颜色*/
/*窗口遮罩背景色*/
/*菜单背景色（深色）*/
/*页面行高*/
/*列表行高*/
/*页面行高*/
/*标题行高*/
/*标题行高*/
/*小字行高*/
/*小字行高*/
/*input高度38px*/
/*头部高度44px*/
/*内容宽度*/
/*input宽度*/
/*block的title宽度*/
/*滑窗宽度*/
/*滑窗宽度强调*/
/*弹窗默认宽度*/
/*手机弹窗默认宽度*/
/*按钮的左右间隔*/
/*18px小按钮的左右间隔*/
/*22px按钮的左右间隔*/
/*28px按钮的左右间隔*/
/*48px按钮的左右间隔*/
/*弹窗默认宽度*/
/*手机弹窗默认宽度*/
.radius {
  border-radius: 3px;
}
.tranfast {
  transition: all 0.1s linear;
}
.translow {
  transition: all 0.2s linear;
}
.coverpic {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover,20px 20px;
  background-color: #f5f5f5;
}
.empty {
  width: 100%;
  overflow: hidden;
  clear: both;
  margin: 0px;
  padding: 0px;
}
.btn-positon {
  position: relative;
  box-sizing: border-box;
}
.border {
  content: "";
  pointer-events: none;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  border-width: 1px;
  border-style: solid;
  width: 100%;
  height: 100%;
}
.shadow {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.shadow-border {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08), 0 0 1px rgba(0, 0, 0, 0.1);
}
.shadow-cloud {
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}
.shadow-dark {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.12);
}
.shadow-light {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.06);
}
.shadow-primary {
  box-shadow: 5px 5px 20px rgba(25, 140, 255, 0.4);
}
.shadow-danger {
  box-shadow: 5px 5px 20px rgba(220, 53, 69, 0.4);
}
.shadow-success {
  box-shadow: 5px 5px 20px rgba(65, 163, 88, 0.4);
}
.shadow-secondary {
  box-shadow: 5px 5px 20px rgba(71, 91, 102, 0.4);
}
.shadow-warning {
  box-shadow: 5px 5px 20px rgba(255, 193, 7, 0.4);
}
.shadow-ad {
  box-shadow: 5px 5px 20px rgba(255, 132, 0, 0.4);
}
.shadow-info {
  box-shadow: 5px 5px 20px rgba(20, 204, 201, 0.4);
}
.shadow-dark {
  box-shadow: 5px 5px 20px rgba(51, 51, 51, 0.4);
}
/*98%色值*/
/*96%色值*/
/*92%色值*/
/*86%色值*/
/*86%色值*/
/*70%色值*/
/*50%色值*/
/*30%色值*/
/*20%色值*/
