<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-touch-fullscreen" content="yes"/>
    <meta name="format-detection" content="email=no" />
    <meta name="wap-font-scale"  content="no" />
    <meta name="viewport" content="user-scalable=no, width=device-width" />
    <meta content="telephone=no" name="format-detection" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <title>登录页</title>

    <meta name="keywords" content="" />
    <meta name="description" content="登录页面" />
    <link href="../static/css/ax.css" rel="stylesheet" type="text/css" >
    <link href="../static/css/ax-response.css" rel="stylesheet" type="text/css" >
    <style>
        .demo-login {
            width: 520px;
            position: fixed;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        .demo-login form {
            margin: 0 80px;
        }

        @media screen and (max-width: 900px) {
            .demo-login {
                width: 100%;
                border: none;
                box-shadow: none;
                border-radius: 0;
                position: inherit;
                left: 0;
                top: 0;
                transform: translate(0, 0);
            }

            .demo-login form {
                margin: 0;
            }
        }
    </style>
</head>
<body>

<div class="demo-login ax-border ax-shadow ax-radius">
    <ul class="ax-row ax-menu-tab">
        <li class="ax-col ax-col-12"><a href="###" class="ax-item ax-active">登录账号</a></li>
        <li class="ax-col ax-col-12"><a href="###" class="ax-item">注册新用户</a></li>
    </ul>
    <div class="ax-break-line"></div>

    <form>

        <div class="ax-break"></div>
        <div class="ax-break ax-hide-tel"></div>
        <div class="ax-break ax-hide-tel"></div>

        <div class="ax-form-group">
            <div class="ax-flex-row">
                <div class="ax-form-con">
                    <div class="ax-form-input">
                        <div class="ax-row ax-input-group">
                            <span class="ax-title ax-btn" style="width: 72px;">账号</span>
                            <div class="ax-flex-block">
                                <input name="username" placeholder="输入账户..." type="text">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="ax-break-md"></div>

        <div class="ax-form-group">
            <div class="ax-flex-row">
                <div class="ax-form-con">
                    <div class="ax-form-input">
                        <div class="ax-row ax-input-group">
                            <span class="ax-title ax-btn" style="width: 72px;">密码</span>
                            <div class="ax-flex-block">
                                <input name="username" placeholder="" type="text">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="ax-break-md"></div>

        <div class="ax-break-md"></div>

        <div class="ax-form-group">
            <div class="ax-flex-row">
                <div class="ax-form-con">
                    <div class="ax-form-input">
                        <div class="ax-row">
                            <div class="ax-flex-block">
                                <label class="ax-checkbox"><input name="free-agree" value="0" checked="" type="checkbox"><span>记住密码</span></label>
                            </div>
                            <a href="###" class="ax-form-txt ax-color-ignore">立即注册账户</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="ax-break-md"></div>

        <div class="ax-form-group">
            <div class="ax-flex-row">
                <div class="ax-flex-block">
                    <div class="ax-form-input"><button type="button" class="ax-btn ax-primary ax-longer">登录</button></div>
                </div>
            </div>
        </div>

        <div class="ax-break"></div>
        <div class="ax-break ax-hide-tel"></div>
        <div class="ax-break ax-hide-tel"></div>

    </form>

</div>
<!--正文结束-->
<div align="center">
    (c) 2021 <a href="http://www.axui.cn" target="_self">Axui.cn</a> MIT license
    <script type="text/javascript" src="https://s9.cnzz.com/z_stat.php?id=1279224865&web_id=1279224865"></script>
</div>

<script src="../static/js/jquery-1.10.2.min.js" type="text/javascript"></script>
<script src="../static/js/ax.min.js" type="text/javascript"></script>
<script src="../static/js/svgSprites.js" type="text/javascript"></script>
<script type='text/javascript'>
    $(document).ready(function () {
        //js内容
    });
</script>
</body>

</html>